@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* { 
    margin: 0;
    padding: 0;

}
body{
    font-family: "Roboto Slab", serif;
}

.first-section{
    background-color: #1f2937;

}

#header-logo{
    color: #F9FAF8;
    font-size: 24px;

}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10PX;

}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-righ{
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
}    

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

img{
    margin: 50px;
}
.content-right{
    display: flex;
    flex-direction: column;
    width:32%;

}

.content-left{ 
    display: flex;
    flex-direction:column ;
    width: 32%; 
    justify-content: center;
    margin-left: 300px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
}

.Sign-up-first-section{
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    height: 40px;
    border: 1px #3882F6;
    border-radius: 10px ;
} 

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.row-of-blue-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    max-width:100%;
    margin: 100px;
}

.box-blue{
    border-radius:10px;
    border:4px solid #3882F6;
    width: 200px;
    height: 200px;
    
}

.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center

}

.third-section{
    
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.P-third{
    font-size: 18px;
    text-align:end;

} 

#p-div{
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
}    

.last-section{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box{
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.left{
    width: 80%;
}

h4{
    font-size: 24px;
    color: #F9FAF8
}
.p-last{
    color: #F9FAF8;
}
.Sign-up-last-section{
    color: #E5E7EB;
    background-color: #3882F6;
    width: 100px;
    height: 40px;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer{
    background-color:  #1F2937;
    display: flex;
    justify-content: center;
    height: 50px;
}

.footer1{
    color: #E5E7EB;
    margin: 20px;
}    