@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: Roboto, sans-serif;
}


html, body {
    height: 100%;
    overflow-x: hidden;
}

.first-section{
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;

}

header, .hero-section, footer {
    background-color: #1F2937;
}

.nav-bar {
    gap: 12px;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtxt {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.7;
}


.hero-img {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    max-width: 375px;
    text-align: left;
}

.Sign-up-first-section{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid #3882F6;
}

.second-section{
    padding-bottom: 50px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 15px;
}

.info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}


.info-container img {
    width: 250px;
    height: 250px;
    border: 3px solid none;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.info-subtxt {
    opacity: 0.7;
}

.quote-section {
    background-color: #E5E7EB;
    text-align: center;
}


.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;
}

.quote-container {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.quotee {
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
    padding-right: 10px;
}

.signup-section {
    padding: 100px;
}

.signup-container {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 100px;
    flex-wrap: wrap;
}

.signup-left {
    color: #F9FAF8;
}

.signup-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.signup-subtxt {
    opacity: 0.8;
}

.signup-btn {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    color: #F9FAF8;
    border-radius: 5px;
}


footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 2em;
}